@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Sen", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
    background-color: #118B43;
}

nav.sticky {
    padding: 15px 20px;
    background: #fecd03;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
    height: 100%;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-weight: 500;
    font-size: 26px;
    padding-left: 20px;
    color: white;
}

nav.sticky .logo a {
    color: #fff;
}

.nav-content .nav-links {
    display: flex;
}

.nav-content .nav-links li {
    list-style: none;
    margin: 0 8px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3 ease;
}

.nav-links li a:hover {
    color: #FFD050;
}

.nav.sticky .nav-links li a {
    color: #fff;
    transition: all 0.4 ease;
}

.nav.sticky .nav-links li a:hover {
    color: #0e2431;
}

.links{
    display: flex;
    align-items: center;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 30px;
    margin-bottom: 6px;
    color: #fecd03;
}

.mleft-20{
    margin-left: 20px !important;
}
.mright-20{
    margin-right: 20px !important;
}

a.btn {
    text-decoration: none;
}

.btn-subscribe {
    background-color: #FFD050;
    color: #118B43;
    font-weight: 600;
    font-size: 18px;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.home{
    background-image: url('../images/home.png');
    width: 100%;
}

